h1{
    color:rgb(245, 245, 248);
    padding: 5px;
}
.form{
    width: 500px;
    padding: 30px;
    box-shadow: 30px 30px 40px rgba(86, 1, 101, 0.6);
    height:fit-content;
    border-radius: 20px;
    background-color:  rgb(78, 3, 73,0.3); 
    color: black;
    border-color: rgb(111, 4, 138);
}
body{
    background-image: url(outrun-neon-dark-background-purple-3840x2160-4523.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
input{
    width: 200px;
    height: 30px;
    background-color: rgb(243, 156, 237, 0.2);
    border-radius: 10px;
    margin-left: -100px;
    padding-right: 50px;
    padding-top: 10px;
    font-size: large;
    color: black;
}
label{
    padding: 10px;
    margin-left: -160px;
    font-size: large;
    color: white;
}
button{
    padding-left: 20px;
    background-color: rgb(84, 17, 239);
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 40px;
    margin-right: -270px;
    font-size: small;
    padding-right: 10px; 
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    box-shadow: 2px 2px 4px rgb(76, 2, 85);
}
button:hover{
    cursor: pointer;
    box-shadow:  3px 3px 5px rgb(0, 0,0);
    transform: scale(1.2,1.2);
    transition: 0.5s;
}
button:active{
    color: rgb(74, 74, 253);
    transform: scale(1.5,1.5);
    transition: 2s;
}
h3{
    margin-left: 100px;
    padding-left: 0px;
    color: white;
}
a{
    color: rgb(0, 174, 255);
}
